.twork{
    font-size: 100px;
    text-align: center;
    color: saddlebrown;
    text-decoration: underline;
    text-transform: capitalize;
}
.para1{
    font-size: 20px;
    font-family: Arial;
    text-transform: capitalize;
}
.natureimg{
    text-align: center;
    background-color: rgb(61, 9, 9);
    
}